includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6

    paths:
        - app
        - routes
        - database/seeders

    tmpDir: storage/framework/phpstan

    excludePaths:
        analyse:
            - app/OpenApi
            - app/Http/Resources
            - bootstrap/cache
            - storage
            - vendor

    checkModelProperties: false
    treatPhpDocTypesAsCertain: false
