includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5

    paths:
        - app/Console
        - app/Contracts
        - app/DTO
        - app/Enums
        - app/Exceptions
        - app/Http/Middleware
        - app/Jobs
        - app/Services
        - app/Support
        - routes
        - database/seeders

    tmpDir: storage/framework/phpstan

    excludePaths:
        analyse:
            - app/OpenApi
            - app/Http/Resources
            - bootstrap/cache
            - storage
            - vendor

    checkModelProperties: false
    treatPhpDocTypesAsCertain: false
